<div class="d-flex flex-wrap justify-content-center gap-4">
  <ng-container *ngIf="images$ | async as images;">
    <ng-container *ngIf="images.length > 0;else noImages">
      <ng-container *ngFor="let item of images">
        <div class="p-2" style="flex: 0 0 25%;">
          <app-image-card (editImage)="editImage($event)" (deleteImage)="deleteImage($event)" [Image]="item" class=""></app-image-card>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>


<ng-template #noImages>
  <h4>No Images added</h4>
</ng-template>
